@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');
.titulo {
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
  font-size: 35px;
  color:#f52d50;
}
#background {
  background-color: #fbc504;
}
