@import url('https://fonts.googleapis.com/css?family=Ranga&display=swap');

#nav {
  background: #f52d50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7753d, #fbc504);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f52d50, #fbc504); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#titule2 {
  font-family: 'Ranga', cursive;
  font-size: 30px;
  color:white;
}

#titule3 {
  color: white;
}
